<!DOCTYPE html>
<html lang="en">
 <% include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
        <h1>Create new itinerary</h1>
        <form action="/itineraries" method="POST">
        <div>
            <label for="destination">Destination</label>
            <input type="text" name="destination" id="name" required>
        </div>
                <div>
            <label for="contributor">Contributor</label>
            <input type="text" name="contributor" id="contributor" required>
        </div>
        <div>
            <label for="">Time of year</label>
            <input type="text" name="timeOfYear" id="timeOfYear" required>
        </div>
        <div>
            <label for="morning">Morning</label>
            <textarea id="morning" name="morning" required></textarea>
        </div>
                <div>
            <label for="afternoon">Afternoon</label>
            <textarea id="afternoon" name="afternoon" required></textarea>
        </div>
                        <div>
            <label for="evening">Evening</label>
            <textarea id="evening" name="evening" required></textarea>
        </div>
        <button type="submit">Publish</button>
    </form>
</body>

</html>