<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DayTripper</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>
    <nav>
        <div id="left-nav">
            <a href="/">DayTripper</a>
            <!-- <a href="/itineraries">itineraries</a> -->
            <!-- SPLIT THIS BY CATEGORY? -->
        </div>
        <div id="right-nav">
            <a href="/">Europe</a>
            <a href="/">Americas</a>
            <a href="/">Asia</a>
            <a href="/">Africa</a>
            <% if (message && message.type==='success' ) { %>
                <div class="flash flash-success">
                    <%= message.text %>
                </div>
                <% } %>
                    <% if (user) { %>
                        <a href="/profile">
                            <%= user.username %>
                        </a>
                        <a href="/auth/sign-out" class="nav-button">Sign out</a>
                        <% } else { %>
                            <a href="/auth/sign-in" class="nav-button">Sign in</a>
                            <% } %>
        </div>
    </nav>