<!DOCTYPE html>
<html lang="en">
<% include("./partials/head") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <section id="hero">
                <h1>What to <em>see</em>, <em>eat</em>, and <em>do</em> in a day<br>
                    in locations around the world</h1>
                <a href="/itineraries" class="homepage-button">View itineraries</a>
            </section>
            <main class="page-content">
                <div class="content-wrapper">
                        <img src="assets/Home-page-palm-trees.jpg" class="homepage-img vertical" alt="Tropical blue sky and green palm trees overhead">
                         <img src="assets/AdobeStock_114006572.jpeg" class="homepage-img horizontal" alt="Pink sky with pale clouds at sunset">
                    </div>
            </main>
    </body>

</html>