<!DOCTYPE html>
<html lang="en">
<% include("./partials/head") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <section id="hero">
                <h1>What to <em>see</em>, <em>eat</em>, and <em>do</em> in a day<br>
                    in locations around the world</h1>
                <a href="/itineraries" class="homepage-button">View itineraries</a>
            </section>
            <main class="page-content">
                <div class="content-wrapper">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/<%= CLOUD_NAME %>/image/upload/v1753356986/Home-page-palm-trees_qmey7r.jpg" class="homepage-img vertical" alt="Tropical blue sky and green palm trees overhead">
                        <p class="image-caption">Go on an island adventure in Bali</p>
                        </div>
                        <div class="image-container">
                         <img src="https://res.cloudinary.com/<%= CLOUD_NAME %>/image/upload/v1753357075/AdobeStock_114006572_f0hlod.jpg" class="homepage-img horizontal" alt="Pink sky with pale clouds at sunset">
                         <p class="image-caption">For beautiful sunsets in England, head west to Devon</p>
                         </div>
                    </div>
            </main>
    </body>

</html>