<!DOCTYPE html>
<html lang="en">
<% include("./partials/head") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <section id="hero">
                <h1>What to <em>see</em>, <em>eat</em>, and <em>do</em> in a day<br>
                    in locations around the world</h1>
            <a href="/itineraries" class="homepage-button">View itineraries</a>
            </section>
            <main class="page-content">
                <img src="assets/Home-page-palm-trees.jpg" alt="Tropical blue sky and green palm trees overhead">
            </main>
    </body>

</html>