<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="hero">
                <img src="assets/AdobeStock_1082886603_Preview.jpeg" alt="Not for use in final app">
                <h1>404 page not found</h1>
                <p>Oops, it looks like you've landed on a desert island!</p>
                <a href="/" class="page-button">Return home</a>
            </section>
    </body>

</html>