<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/nav.ejs") %>
            <section id="hero">
                <h1>500 an error occurred</h1>
                <p>Something went wrong!</p>
                <a href="/" class="page-button">Return home</a>
            </section>

    </body>

</html>