<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <h1>500 an error occurred</h1>
    <p>Something went wrong!</p>

</body>
</html>