* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

nav {
    background-color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#right-nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

:root {
    --section-spacing: 4rem;
    --content-padding: 4rem;
}

section {
    margin-bottom: var(--section-spacing);
    padding: 0 var(--section-padding);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem var(--content-padding);
    margin-top: 4rem;
    gap: 2rem;
}

#page-title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1.5rem;
    text-align: left;
    padding: 1rem var(--content-padding);
    margin-top: 4rem; 
    border-bottom: 1px solid lightgrey;
}

.user-actions {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

h1 {
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}


h2 {
    font-family: "Newsreader", serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;

}

p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}


#itinerary {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    text-align: left;
    padding: 0 var(--content-padding);
}


a {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    color: turquoise;
    text-decoration: none;
}

a.page-link {
    color: turquoise;
    text-decoration: none;
}

a.control-button,
button.control-button,
input.control-button {    
    padding: 0.5rem 1rem;
    margin-left: auto;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 9999px;
    font-weight: 400;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

a.control-button:hover,
button.control-button:hover,
input.control-button:hover  {
    color: lightgrey;
}

a.nav-button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

a.nav-button:hover {
    color: white;
    background-color: turquoise;
}

a.page-button,
button.page-button,
input.page-button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 9999px;
    font-weight: lighter;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

a.page-button:hover,
button.page-button:hover,
input.page-button:hover {
    color: white;
    background-color: turquoise;
}